
/*--------------------Header CSS--------------------*/

header{
    position: fixed;
    right: 0;
    left: 0;
    transition: background-color .2s;
    z-index: 99;
}

.header-solid{
    background-color: teal (124, 46, 46);
}

#logo-container {
    float:left;
    margin: 5px 0px;
}
#main-nav-container{
    margin: 28px 0px;
    width: 100%;
}

#logo-container img{
    width: 300px;
    height: auto;
}
#site-nav-container{
    float:right;
}

@media (min-width:992px) {
    #site-nav {
        display: block !important;
    }
    #action-nav {
        display: block !important;
    }
    #hamburger-button {
        display: none !important;
    }
}

#site-nav{
    text-align: left;
    margin: 0px;
    padding-left: 19px;
    display: none;
}
#site-nav li{
    display: inline-block;
    /* list-sytle-type: none; */
}
#site-nav .last{
    padding-right: 19px;
}

#site-nav li a{
    font-weight: 300;
    padding: 10px 19px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
#site-nav li a:hover{
    color: #14A5E9;
}

#action-nav-container{
    float: right;
    text-align: right;
    display: inline;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#action-nav{
    text-align: left;
    margin: 0px;
    padding-left: 19px;
    display: none;
}
#action-nav li{
    display: inline-block;
    /* list-sytle-type: none; */
}
#action-nav li a{
    font-weight: 700;
    padding: 10px 20px 10px 0px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}
#action-nav li a:hover{
    color: #14A5E9;
}
#action-nav-container img{
    margin: 0px 2px 2px 20px;
    height: 14px;
    width: 14px;
}
.header-button{
    padding: 10px 10px !important;
    max-width: 50px;
}


#mobile-nav-container{
    background-color: teal;
    padding: 10px 30px 25px 30px;
    display: none;
    position: fixed;
    z-index: 400;
    width: 1-0%;
    height: 100%;
    z-index: 98;
    padding-top: 100px;
}
#mobile-nav{
    padding: 0px;
}
#mobile-nav li{
    display: block;
    /* list-sytle-type: none; */
}
#mobile-nav li a{
    color: #ffffff;
    font-size: .8rem;
    font-weight: 700;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}
#mobile-nav li a:hover{
    color: #14A5E9;
}
#mobile-header-button-container{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.text-white{
    color: #ffffff;
}

.text-black{
    color: #000000;
}
.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}


/*--------------------End Header CSS--------------------*/

/*--------------------Universal CSS--------------------*/
html {
    font-size: 16px;
}
body {
    font-size: .8rem;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    background-color: teal;
}

p {
    font-family: "Open Sans", sans-serif;

}
h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}
h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.large-h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    font-style: italic;


}

.subtitle{
    font-size: 1.2rem;
    font-style: italic;
}
.button {
    color: #ffffff !important;
    border: 3px outset orange;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",sans-serif !important;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 75px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: background-color .2s;
    text-decoration: none;
    min-width: 150px;
    background-image: linear-gradient(to right,rgb(0, 107, 107),#fa6d0f);
}
.button:hover{
    opacity: .85;
    text-decoration: none;
}

.button-black{
    background-color: #000000 !important;
}

.button-green{
    background-color: #A5E914;

}

.button-2 {
    color: #ffffff !important;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "aller",sans-serif !important;
    font-weight: bold;
    line-height: 20px;
    padding: 13px 75px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    text-align: center;
    transition: background-color .2s;
    text-decoration: none;
    border: 2px solid #ffffff;
    min-width: 220px;
}
.button-2:hover{
    color: #eeeeee !important;
    border-color: #eeeeee;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.no-padding{
    padding: 0px !important;
}

.display-block{
    display: block;
}

:focus { outline: none; }

div {
    background-color: teal;
    text-align: center;
  }

.highlight-blue {
border-radius: 1em 0 1em 0;
background-image: linear-gradient(
    -100deg,
    rgba(0, 20, 255, 0.2),
    rgba(0, 20, 255, 0.7) 95%,
    rgba(0, 20, 255, 0.1)
);
}

.highlight-red {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
      -100deg,
      rgba(255, 20, 0, 0.2),
      rgba(255, 20, 0, 0.7) 95%,
      rgba(255, 20, 0, 0.1)
    );
  }
  
.highlight-yellow {
border-radius: 1em 0 1em 0;
background-image: linear-gradient(
    -100deg,
    rgba(255, 224, 0, 0.2),
    rgba(255, 224, 0, 0.7) 95%,
    rgba(255, 224, 0, 0.1)
);
}

.highlight-green {
border-radius: 1em 0 1em 0;
background-image: linear-gradient(
    -100deg,
    rgba(0, 255, 20, 0.2),
    rgba(0, 255, 20, 0.7) 95%,
    rgba(0, 255, 20, 0.1)
);
}



  /*--------------------End Universal CSS--------------------*/

  /*---------------------------Video-------------------------*/
.vidwrapper {
    width: 100%; max-width: 1024px;
    margin: 3em auto;
    padding-bottom: 20px;
    /* border: 5px solid red; */
  }

.vidcontainer {
    width: 100%; max-width: 97%; height: 0;
    padding-bottom: 56.25%;
    /* border: 5px solid #fa6d0f; */
    position: relative;
}

.vidcontainer iframe {
    width: 100%; max-width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
  }

  /*-----------------------End Video-------------------------*/

  /*---------------------Registration------------------------*/
  
  #registration{
    padding: 8px 8px 8px 8px;
    width: 100%; max-width: 390px;
    margin: auto;
  }

  .reg{
    width: 100%; max-width: 388px;
    height: 90%;
    margin: 3em auto;
  }
  /*-------------------End Registration----------------------*/

  /*------------------Agenda Section CSS---------------------*/

#agenda{
    width:100%; max-width: 390px;
    margin: auto;
}
.agenda-wrapper{
    width: 98%; max-width: 390px;
    margin: auto;
}
.agenda-container{
    width: 98%; max-width: 390px;
    height: auto;
  }
.agenda-item-1{
    font-size: medium;
    text-align: center;
    width:90%;
}

.agenda-item-2{
    font-size: medium;
    text-align: left;
    text-indent: 10%;
    width:90%;
}
.agenda-item-3{
    font-size: medium;
    text-align: left;
    text-indent: 20%;
    width:90%;
}

.agenda-day{
    text-transform: uppercase;
    text-indent: 50%;
    font-weight: 700;
    font-size: large;
    text-align: justify;
    width:70%;
}

.agenda-header{
    font-size: 2rem;
}

/* Hamburger */
#hamburger-button {
    padding-top: 5px;
}
#hamburger-toggle {
width: 23px;
position: relative;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
padding: 15px;
}
.hamburger-icons {
cursor: pointer;
margin-right: 5px;
}
#hamburger-toggle span:nth-child(1) {
top: 5px;
}
#hamburger-toggle span:nth-child(2), #hamburger-toggle span:nth-child(3) {
top: 13px;
}
#hamburger-toggle span:nth-child(4) {
top: 21px;
}
#hamburger-toggle span {
display: block;
position: absolute;
height: 2px;
width: 76%;
background: #ffffff;
border-radius: 25px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
margin-left: 12%;
margin-top: 1px;
}

.hamburger-button .open {
width: 40%;
background-color: #000;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
z-index: 99;
}
#hamburger-toggle.open span:nth-child(1) {
top: 18px;
width: 0%;
left: 50%;
}

#hamburger-toggle.open span {
height: 2px;
width: 60%;
margin-top: 1px;
margin-left: 20%;
}

#hamburger-toggle.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

#hamburger-toggle.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
#hamburger-toggle.open span:nth-child(4) {
top: 18px;
width: 0%;
left: 50%;
}
/* End Hamburger css */

/*Offer Section CSS*/
#offer{
    padding: 30px 0px 30px 0px;
    width: 100%;
    float: left;
    background-image: linear-gradient(to right,rgb(22, 87, 172),#fa6d0f);
}
.offer {
    text-align: center;
    padding-top: 20px;
}
.offer-description {
    margin-bottom: 20px;
}
.offer-image{
    height: 250px;
    width: auto;
}

.offer-text{
    color: #ffffff;
    font-size: 1.2rem;
    padding-bottom: 20px;
}


/*--------------------weather-----------------------*/

#weather{
    /* padding: 30px 0px 0px 0px; */
    width: 100%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right,rgb(22, 87, 172),#fa6d0f);
}
/*--------------------Footer CSS--------------------*/


footer{
    background-color: teal;
}
.footer-container{
    margin: 10px 0px 10px 0px;
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: .8rem;
    text-align: center;
}
.social-buttons{
    margin: 0 0 6px 0;
}
.social-buttons img {
    width: 100px;
    height: auto;
    margin: 0 8px 0 8px;
}

.contact-container {
    background-color: #000000;
}
.contact-content{
    margin: 20px 0px 20px 0px;
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: .8rem;
    text-align: center;
}

.contact-content h2 {
    margin: 30px 0px 0px 0px;
}

.contact-content .button {
    margin: 20px 0px;
}

/*--------------------End Footer CSS--------------------*/